<!-- Template contents HTML outside the DIV will not be inserted -->

<div class="mceTmpl">
	<p><em>Word Count: <span class="word-count">0</span>, Character count: <span class="char-count">0</span></em></p>
</div>
