<!-- Template contents HTML outside the DIV will not be inserted -->

<div class="mceTmpl">
	<p class="selcontent" style="background-color: yellow">Selected Content</p>
	<p style="padding: 3px;color:#666;border:1px solid #CCC;">
		<strong>Editors Comment</strong> (<span class="cdate"></span>)<br />
		[Insert your comment here]
	</p>
</div>
