<!-- Template contents HTML outside the DIV will not be inserted -->

<div class="mceTmpl">
	<table>
		<thead>
			<tr><th>Created</th><th>Modified</th><th>By</th>
		</thead>

		<tbody>
			<tr><td class="cdate">Creation Date</td><td class="mdate">Last Modified</td><td class="username">UserName</td></tr>
			<tr><td class="comment" colspan="3">Please insert editors comment here</td></tr>
		</tbody>
	</table>
</div>
